<% user = stat %>
<% stat = user.stats.first || nil%>

<div class="stat" id="stat-<%= user.id %>">
	<div class="inner">
		<% if user.login == 'nathanblend' %>
			<img src="images/avatars/nathan.jpg" width="30px" height="30px" />
		<% end %>
		<div class="content">
			<h1><%= user.login %><span> is working on</span></h1>
			<% unless stat.blank? %>
				<p id="msg-<%= user.id %>"><%= h stat.msg %></p>			
				<em><%= stat.created_at.strftime("%I:%M%p %b-%d") %></em>									
			<% else %>
				<p>...</p>
			<% end %>
		</div>

		<br style="clear:both" />
	</div>
</div>
